body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color:hsl(30, 38%, 92%);

}
.divider {
    height: 110px;
}
.card img {
    height: 100%;
} 
.card-body {
    background-color: #fff;
    text-align: end;
}
h3 {
    display: inline;
    margin-right: 45px;
    margin-top: 35px;
     font-family: "Fraunces", sans-serif;
}
.green {
    color:hsl(158, 36%, 37%);

}
.strike-through {
    text-decoration: line-through;
    display: inline;
}
.button {
    background-color: hsl(158, 36%, 37%);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: #fff;
    margin-left: 100px;
    margin-top: 20px;
    padding: 10px;
}
.cart {
    margin-left: 15px;
}
.text-body-secondary {
    font-family: "Montserrat", serif;
    text-align: left;
    margin-bottom: 40px;
}
.card-text {
    margin-bottom: 20px;
}
.heading-1 {
    font-family: "Fraunces", sans-serif;    
    font-size: 30px;
    font-weight: bold;
    line-height: 1;
    text-align: left;
    margin-top: 30px;

}
h5 {
    color: hsl(229, 9%, 50%) !important;
    text-align: left;
    text-transform: uppercase;
    font-weight: 100 !important;
    font-size: 16px !important;
    letter-spacing: .4rem;
}
.image2 {
    display: none;
}
.round {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
@media (max-width: 600px){
    body {
        margin: 0;
    }
    .image1 {
        display: none;
    }
    .image2 {
        display: block;
        margin-top: 0;
        width: 100%;
    }
    .text-body-secondary {
        font-family: "Montserrat", serif;
        text-align: left;
        margin-bottom: 30px !important;
        font-size: 20px !important;

    }
    .heading-1 {
    font-size: 42px !important;
    }
    .green {
        color:hsl(158, 36%, 37%);
        font-size:40px !important;

    
    }
    .align-media {
    text-align: left !important;
        margin-left: 0 !important;
    }
    .round {
        border-radius: 8px;
    }
    .button {
        background-color: hsl(158, 36%, 37%);
        /* padding: 5px; */
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        color: #fff;
        margin-left: 100px;
        margin-top: 20px;
        padding: 10px 100px;
    }
    .divider {
        display: none;
    }
}
